/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Default margin removed */
* {
  margin: 0;
  padding: 0;
  font: inherit;
}

html {
  /* color-scheme: dark light; */
}

body {
  min-height: 100vh;
  font-family: var(--ff-primary);
}

/* Default responsive images*/
img, picture, svg, video {
  max-width: 100%;
  display: block;
}

.scale-img {
  max-width: 80%;
  max-height: auto;
  /* margin: 150px 0 0 0;  */
}

.budget-img {
  max-width: 10vw;
  max-height: auto;
}

/* root */
:root {
  --ff-primary: 'Poppins', sans-serif;
  --fs-xl: 3rem;
  --fs-l: 2.5rem;
  --fs-m: 2rem;
  --fs-s: 1.5rem;

}

#nav-section{
  background-color: #4463ac;
}

#banner-section{
  background-color: #84cedc;
  color: white;
}